* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

:root {
  --primary-font: "Bellefair", serif;
  --secundary-font: "Barlow Condensed", sans-serif;
}

header {
  position: relative;
  top: 30px;

  .menu {
    display: none;
  }
}


