@import "../../../../main.scss";

.menu-mobile {
  z-index: 3;


  label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    align-self: flex-end;
  }

  input {
    display: none;
  }
  

  .navegacao {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 9px;
    right: 0;
    width: 15rem;
    background: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 4rem;
    z-index: 0;

    // Adicione a transição para suavizar o efeito
    transition: transform 0.5s ease;

    // Inicialmente oculta o menu fora da tela
    transform: translateX(100%); // Menu começa fora da tela

    &.open {
      transform: translateX(0); // Move o menu para dentro da tela quando aberto
    }



    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      li {
        height: 100%;
        display: flex;
        align-items: center;
        border-right: solid 3px transparent;
        gap: 10px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;

        strong {
          font-weight: 100;
          color: #ffffffad;
        }

        &.active {
          border-right: solid 3px white;
          cursor: pointer;
        }
      }
    }
  }
}
