@import "../../../main.scss";

.crew-container {
  width: 100%;
  height: 100vh;
  padding: 0rem 0 8rem 3.5rem;
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  display: flex;
  flex-direction: column;

  header {
    position: relative;
    top: 30px;
  
    .menu {
      display: none;
    }
  }

  .tripula {
    margin-top: 9%;
    justify-content: space-between;
    padding: 0rem 5rem;

    img {
      width: auto;
      max-height: 450px;
      min-height: 350px;
    }
  }

  main {
    display: flex;
    height: 100%;
    margin-top: 6%;
    justify-content: space-evenly;

    .titulo {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      h2 {
        font-size: 1.3rem;
        color: #898888;
        font-weight: bold;
        font-family: "Bellefair", serif;

        strong {
          color: #fff;
          font-weight: 100;
          font-family: "Bellefair", serif;
        }
      }

      .chamada {
        display: flex;
        flex-direction: column;
        width: 100%;

        .descricao {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 90%;

          h3 {
            font-size: 2rem;
            font-family: "Bellefair", serif;
            color: #6d6f7e;
          }

          h2 {
            font-size: 3.5rem;
            font-family: "Bellefair", serif;
            color: #fff;
          }

          P {
            font-size: 1.2rem;
            font-family: "Bellefair", serif;
            color: #d0d6f9;
            line-height: 1.5;
          }
        }
      }

      .guia {
        display: flex;
        gap: 2rem;

        input {
          cursor: pointer;
          appearance: none; /* Remove o estilo padrão do radio button */
          width: 10px;
          height: 10px;
          border-radius: 50%; /* Deixa o input com formato circular */
          background-color: grey; /* Cor padrão dos inputs não selecionados */
          border: 2px solid transparent;

          &:checked {
            background-color: #fff; /* Cor do input selecionado */
            border-color: #fff;
          }
        }
      }
    }
  }
}
